.admin-navbar {
    width: 100vw;
    height: 12vh;
    background-color: #00BFA4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding:  0 7%;
}
.admin-btn-logout {
    background-color: white;
    color: red;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.admin-btn-logout:hover {
    background-color: red;
    color: white;
}
.admin-header {
    height: 10vh;
    width: 100vw;
    text-align: center;
    margin-top: 3%;

    font-size:25px;
}
.admin-header p {
    font-size:17px;
}
.admin-menu {
    display: flex;  
    height: auto;
}
.admin-list {
    flex-basis: 33.33%;
}
.admin-map {
    flex-basis: 66.66%;
    height: 80%;
}
