.home-barreDeRecherche {
    background-color: #ffffff; 
    border : #F3F3F3;   
    color : #232323;
    padding: 1%;   
    height : 7vh;
    text-align:left;
    width: 100%
}
.home-barreDeRecherche:focus {
    outline: none;
}
.home-barreDeRecherche-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff; 
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    width: 100%;
}
.home-filtre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home-filtre-element {
    background-color: #00BFA4;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    min-width: 80px;
    text-align: center;


}
.home-container {
    display: flex;
    flex-direction: column;
    width : 30vw;
    height: 17vh;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
}
.h-container{
    position: absolute;
    top: 0; 
    width : 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.map-container {
    height: 100vh;
    width: 100vw;
    z-index: -0;
}
.info {
    background-color: blueviolet;
    height: 500px;
    width: 800px;
    margin: auto;
    z-index: 9999;
}
.sliding-div {
    position: absolute;
    top: 0;
    left: -100%;
    width: 33vw;
    height: 100%; 
    background-color: #ffffff;
    transition: left 0.5s ease;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
  }
  
.slide-in {
   left: 0;
}