.home-barreDeRecherche {
    background-color: #ffffff; 
    border : #F3F3F3;   
    color : #232323;
    padding: 1%;   
    height : 7vh;
    text-align:left;
    width: 100%
}
.home-barreDeRecherche:focus {
    outline: none;
}
.home-barreDeRecherche-container {
    
    background-color: #ffffff; 
   
    align-items: center;
    display: flex;
    padding: 0 15px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.home-filtre-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home-filtre-element {
    background-color: #00BFA4;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    min-width: 80px;
    text-align: center;
    


}
.home-container {
    display: flex;
    flex-direction: column;
    width : 30vw;
    height: 17vh;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
}
.h-container{
    position: absolute;
    top: 0; 
    width : 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;

    transition: left 1s ease;
}
.map-container {
    height: 100vh;
    width: 100vw;
    z-index: -0;
}
.loading {
    background-color: white;
    height: 100vh;
    width: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}
.sliding-div {
    position: absolute;
    top: 0;
    left: -100%;
    width: 40vw;
    height: 100%; 
    background-color: #ffffff;
    transition: left 0.5s ease;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.3));
    z-index: 9999999;
  }
  
.slide-in {
   left: 0;
}
.slide-inn {
    left : 20vw;
}

.marker:hover {
    height: 150px;
    width: 150px;
}

.commentaire-post {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 3.7%;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.starRating {
    font-size: 30px;
    color:goldenrod;
}
.commentaire-input {
    width: 75%;
    height: 0%;
    padding: 5px;
    border-radius: 5px;
    background-color: #F3F3F3;
}
.btn-soumettre-commentaire {
    background-color: #00BFA4;
    color: white;
    border-radius: 5px; 
    width: 20%;  
    text-align: center;
    transition: transform 0.2s;
}
.btn-soumettre-commentaire:active {
    /* Styles de l'animation lorsqu'on appuie sur le bouton */
    transform: scale(0.95);
  }
  
.btn-soumettre-commentaire:hover {
    /* Styles de l'animation au survol du bouton */
    transform: scale(1.05);
  }
.comm-input-container {
    display: flex;
    justify-content: space-between;
}
.favoris {
    margin-top: 80px;
    height: 100%;
    overflow: hidden;
    
}
.favoris-liste {
    overflow:scroll;
    width: 50%;
    height: 50%;
    overflow: hidden;
}
.card {
    margin: 2%;
}
.slido {
    position: absolute;
    z-index: 89999999999999999;
    
    top : 0px;
}
.autocomplete {
    background-color: white;
    border-radius: 4px;
}